.wrapper {
  display: grid;
  height: 100%;
}

.app-name {
  font-size: 1.5rem;
  color: var(--color-gray);
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  color: var(--color-main-white);
}

.title {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title--icon {
  height: 100px;
  width: 100px;
  fill: var(--color-main-green);
}

.title--text {
  font-size: 2.25rem;
  text-align: center;
}

.title--name {
  /* color: var(--color-main-green); */
  background: linear-gradient(
    90deg,
    rgba(0, 189, 126, 1) 35%,
    rgba(100, 126, 255, 1) 100%
  );
  color: transparent;
  background-clip: text;
  font-weight: 600;
}

.description {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  padding: 0 4vw;
}

.start {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button {
  font-size: 1.125rem;
}

.sing-in--button {
  background-color: var(--color-main-green);
}
